[package]
name = "alpenglow"
version = "0.1.0"
edition = "2024"
authors = ["Quentin Kniep <quentin@anza.xyz>"]
description = "Reference research implementation of the Alpenglow consensus protocol."
license = "Apache-2.0"
repository = "https://github.com/qkniep/alpenglow"
readme = "README.md"
keywords = ["alpenglow", "solana", "consensus", "distributed-systems"]
categories = ["algorithms", "network-programming", "data-structures"]
publish = false

[dependencies]
aes = { version = "0.9.0-rc.1", features = ["hazmat", "zeroize"] }
anyhow = "1"
async-trait = "0.1"
bincode = { version = "2", features = ["serde"] }
bitvec = { version = "1", features = ["serde"] }
blst = { version = "0.3", features = ["serde", "serde-secret"] }
bytes = { version = "1", features = ["serde"] }
clap = { version = "4", features = ["derive"] }
color-eyre = "0.6"
csv = "1"
ctr = "0.10.0-rc.1"
ed25519-consensus = "2"
either = "1"
fastrace = { version = "0.7", features = ["enable"] }
fastrace-opentelemetry = "0.13"
futures = "0.3"
geo = "0.31"
hex = "0.4"
hex-literal = "1"
log = "0.4"
logforth = { version = "0.27", features = ["colored", "append-fastrace"] }
mockall = "0.13"
moka = { version = "0.12", features = ["future"] }
opentelemetry = "0.30"
opentelemetry-otlp = { version = "0.30", features = ["grpc-tonic"] }
opentelemetry_sdk = "0.30"
rand = "0.9"
rayon = "1"
reed-solomon-simd = "3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = { version = "0.10", features = ["asm-aarch64", "asm"] }
smallvec = "1"
static_assertions = "1"
statrs = "0.18"
thiserror = "2"
time = { version = "0.3", features = ["serde"] }
tokio = { version = "1", features = ["full"] }
tokio-util = "0.7"
toml = "0.9"
wincode = { version = "0.1", features = ["derive"] }

[dev-dependencies]
divan = "0.1"

[lints.clippy]
cast_possible_truncation = "allow"

[profile.release]
debug = true
overflow-checks = true

[[bench]]
name = "crypto"
harness = false

[[bench]]
name = "disseminator"
harness = false

[[bench]]
name = "network"
harness = false

[[bench]]
name = "shredder"
harness = false
